*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

:root {
  /* colors */
  --clr-base: hsl(30, 38%, 92%);
  --clr-accent: hsl(158, 36%, 37%);
  --clr-accent-hover: hsl(158, 36%, 20%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);

  /* fonts */
  --ff-primary: Montserrat;
  --ff-secondary: Fraunces;

  --fw-normal: 500;
  --fw-bold: 700;

  --fs-normal: 0.875rem;
}

body {
  color: var(--clr-neutral-400);
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  background-color: var(--clr-base);
  line-height: 1.7;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.product {
  background-color: var(--clr-neutral-100);
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  max-width: 600px;
}

.product-content {
  padding: 1.5rem;

  display: grid;
  gap: 1rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product-category {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

.product-title {
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
  line-height: 1;
  font-size: 2rem;
}

.product-price-current {
  font-family: var(--ff-secondary);
  color: var(--clr-accent);
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.product-price-original {
  text-decoration: line-through;
}

.product-button {
  background-color: var(--clr-accent);
  border: none;
  color: var(--clr-neutral-100);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.product-button .shopping-cart {
  content: "";
  background: url(images/icon-cart.svg), no-repeat;
  width: 15px;
  height: 16px;
}

.product-button:is(:hover, :focus-visible) {
  background-color: var(--clr-accent-hover);
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
  }
  .product-content {
    padding: 2rem;
  }
}
